.swiper {
    padding-bottom: 2.5rem !important;
}

.swiper-button-prev::after, .swiper-button-next::after {
    content: '' !important;
}

.swiper-button-prev {
    left: -0.2rem !important;
}

.swiper-button-next {
    right: -0.2rem !important;
}

.swiper-pagination-bullet-active {
    background-color: hsl(264, 94%, 60%) !important;
}

/*==================== MEDIA QUERIES ====================*/

/* For large devices */

@media screen and (min-width: 1024px) {
    .swiper-button-prev{
        position: absolute;
        left: -.35rem !important;
    }
    .swiper-button-next{
        position: absolute;
        right: -.35rem !important;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: -.45rem !important;
    }
}